environments: 
  default:
    values:
    - https:
        enabled: false
      # Only controls secret creation, update AIS config "cloud" to use
      cloudSecrets:
        enabled: false
      # Whether to create PVs for target nodes based on values
      createPV:
        enabled: false
      localPathProvisioner:
        enabled: false
  sjc4-1000:
    values:
    - https:
        enabled: true
      cloudSecrets:
        enabled: false
      createPV:
        enabled: true
      localPathProvisioner:
        enabled: false
    kubeContext: sjc4-1000
  sjc11:
    values: 
    - https:
        enabled: true
      cloudSecrets:
        enabled: false
      createPV:
        enabled: true
      localPathProvisioner:
        enabled: false
    kubeContext: sjc11
  sjc112:
    values:
      - https:
          enabled: true
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true
        localPathProvisioner:
          enabled: false
    kubeContext: sjc112
  oci-iad:
    values: 
    - https:
        enabled: false
      cloudSecrets:
        enabled: false
      createPV:
        enabled: false
      localPathProvisioner:
        enabled: false
    kubeContext: oci-iad
  oci-iad-test:
    values: 
    - https:
        enabled: false
      cloudSecrets:
        enabled: false
      createPV:
        enabled: true
      localPathProvisioner:
        enabled: false
    kubeContext: oci-iad-test
  sjc4-dev:
    values: 
    - https:
        enabled: true
      cloudSecrets:
        enabled: false
      createPV:
        enabled: true
      localPathProvisioner:
        enabled: false
    kubeContext: sjc4-dev
  oci-ord:
    values: 
    - https:
        enabled: false
      cloudSecrets:
        enabled: false
      createPV:
        enabled: false
      localPathProvisioner:
        enabled: false
    kubeContext: oci-ord
  oci-kratos:
    values: 
    - https:
        enabled: false
      cloudSecrets:
        enabled: false
      createPV:
        enabled: false
      localPathProvisioner:
        enabled: false
    kubeContext: oci-kratos
  neb-fin:
    values: 
    - https:
        # Values used to template before deploying AuthN 
        enabled: false
      cloudSecrets:
        enabled: false
      createPV:
        enabled: false
      localPathProvisioner:
        enabled: false
    kubeContext: neb-fin
  neb-fin-test:
    values: 
    - https:
        enabled: false
      cloudSecrets:
        enabled: false
      createPV:
        enabled: false
      localPathProvisioner:
        enabled: false
    kubeContext: neb-fin-test
  keycloak:
    values:
    - https:
        enabled: true
      cloudSecrets:
        enabled: false
      createPV:
        enabled: true
      localPathProvisioner:
        enabled: false
    kubeContext: kind-keycloak-test
---
repositories:
  - name: local-path-provisioner
    url: git+https://github.com/rancher/local-path-provisioner@deploy/chart?ref=v0.0.32

releases:
  - name: local-path-provisioner
    namespace: local-path-storage
    createNamespace: true
    chart: local-path-provisioner/local-path-provisioner
    condition: localPathProvisioner.enabled

  # Acquires a tls cert from the specified issuer and stores in a secret for AIS
  - name: ais-tls-cert
    namespace: ais
    createNamespace: true
    chart: charts/tls-cert
    version: 0.1.0
    condition: https.enabled
    values:
      - "./config/tls-cert/{{ .Environment.Name }}.yaml"
      - "./config/ais/{{ .Environment.Name }}.yaml"

  # Sets up cloud secrets for AIS pods to mount and use for accessing remote backends
  - name: ais-cloud-secrets
    namespace: ais
    createNamespace: true
    chart: charts/cloud-secrets
    version: 0.1.0
    condition: cloudSecrets.enabled
    values:
      - "./config/cloud/{{ .Environment.Name }}.yaml.gotmpl"
      - "./config/ais/{{ .Environment.Name }}.yaml"

  - name: ais-create-pv
    namespace: ais
    createNamespace: true
    chart: charts/create-pv
    version: 0.1.0
    condition: createPV.enabled
    values:
      - "./config/ais/{{ .Environment.Name }}.yaml"

  - name: ais-cluster
    namespace: ais
    createNamespace: true
    chart: charts/ais-cluster
    version: 0.4.0
    values:
      - "./config/ais/{{ .Environment.Name }}.yaml"
