environments:
  default:
    values:
      - valuesPath: ./config/ais/default.yaml
        https:
          enabled: true
          valuesPath: ./config/tls-cert/default.yaml
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true

  keycloak:
    kubeContext: kind-keycloak-test
    values:
      - valuesPath: ./config/ais/keycloak.yaml
        https:
          enabled: true
          valuesPath: ./config/tls-cert/keycloak.yaml
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true

  sjc4-dev:
    kubeContext: sjc4-dev
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/sjc4-dev.yaml?ref=main"
        https:
          enabled: true
          valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/tls-cert/sjc4-dev.yaml?ref=main"
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true

  sjc4-1000:
    kubeContext: sjc4-1000
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/sjc4-1000.yaml?ref=main"
        https:
          enabled: true
          valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/tls-cert/sjc4-1000.yaml?ref=main"
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true

  sjc11:
    kubeContext: sjc11
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/sjc11.yaml?ref=main"
        https:
          enabled: true
          valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/tls-cert/sjc11.yaml?ref=main"
        cloudSecrets:
          enabled: false
          valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/cloud/sjc11.yaml.gotmpl?ref=main"
        createPV:
          enabled: true

  sjc112:
    kubeContext: sjc112
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/sjc112.yaml?ref=main"
        https:
          enabled: true
          valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/tls-cert/sjc112.yaml?ref=main"
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true

  ais-qa:
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/ais-qa.yaml?ref=main"
        https:
          enabled: true
          valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/tls-cert/ais-qa.yaml?ref=main"
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true

  oci-iad:
    kubeContext: oci-iad
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/oci-iad.yaml?ref=main"
        https:
          enabled: false
        cloudSecrets:
          enabled: false
        createPV:
          enabled: false

  oci-iad-test:
    kubeContext: oci-iad-test
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/oci-iad-test.yaml?ref=main"
        https:
          enabled: false
        cloudSecrets:
          enabled: false
        createPV:
          enabled: true

  oci-ord:
    kubeContext: oci-ord
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/oci-ord.yaml?ref=main"
        https:
          enabled: false
        cloudSecrets:
          enabled: false
        createPV:
          enabled: false

  oci-kratos:
    kubeContext: oci-kratos
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/oci-kratos.yaml?ref=main"
        https:
          enabled: false
        cloudSecrets:
          enabled: false
        createPV:
          enabled: false

  neb-fin:
    kubeContext: neb-fin
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/neb-fin.yaml?ref=main"
        https:
          enabled: false
        cloudSecrets:
          enabled: false
        createPV:
          enabled: false

  neb-fin-test:
    kubeContext: neb-fin-test
    values:
      - valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/ais/config/ais/neb-fin-test.yaml?ref=main"
        https:
          enabled: false
        cloudSecrets:
          enabled: false
        createPV:
          enabled: false

---
releases:
  - name: ais-tls-cert
    namespace: ais
    createNamespace: true
    chart: charts/tls-cert
    version: 0.1.0
    condition: https.enabled
    values:
      - "{{ .Environment.Values.https | get \"valuesPath\" \"\" }}"
      - "{{ .Environment.Values.valuesPath }}"

  - name: ais-cloud-secrets
    namespace: ais
    createNamespace: true
    chart: charts/cloud-secrets
    version: 0.1.0
    condition: cloudSecrets.enabled
    values:
      - "{{ .Environment.Values.cloudSecrets | get \"valuesPath\" \"\" }}"
      - "{{ .Environment.Values.valuesPath }}"

  - name: ais-create-pv
    namespace: ais
    createNamespace: true
    chart: charts/create-pv
    version: 0.1.0
    condition: createPV.enabled
    values:
      - "{{ .Environment.Values.valuesPath }}"
      
  - name: ais-cluster
    namespace: ais
    createNamespace: true
    chart: charts/ais-cluster
    version: 0.4.0
    values:
      - "{{ .Environment.Values.valuesPath }}"
