apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: metrics-certs
  namespace: system
spec:
  # SERVICE_NAME and SERVICE_NAMESPACE will be substituted by kustomize
  # Apply a separate overlay to override cluster domain
  dnsNames:
  - $(SERVICE_NAME).$(SERVICE_NAMESPACE).svc
  - $(SERVICE_NAME).$(SERVICE_NAMESPACE).svc.cluster.local
  issuerRef:
    kind: Issuer
    name: selfsigned-issuer
  secretName: metrics-server-cert  # cert-manager creates this secret; it will not be prefixed by kustomize
