prometheus:
  monitor:
    enabled: false

{{- if hasKey .Values "affinity"}}
{{- if and .Values.affinity.nodeLabelKey .Values.affinity.nodeLabelValue }}
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key: {{ .Values.affinity.nodeLabelKey }}
            operator: In
            values:
              - "{{ .Values.affinity.nodeLabelValue }}"
{{- end }}
{{- end }}