*.tgz
*.lock
*.state
*.swp
*.vscode
.idea

*ansible.cfg

*hosts.ini
*hosts.yaml

bundle.Dockerfile
bundle/
dist/

# Allow all files in github pages directory
!/pages/**

# Exceptions to still ignore in pages/ 
**/.DS_Store