loki:
  ngc_endpoint: {{ env "LOKI_ENDPOINT_NGC" }}
  panoptes_endpoint: {{ env "LOKI_ENDPOINT_PANOPTES" }}

mimir:
  ngc_endpoint: {{ env "MIMIR_ENDPOINT_NGC" }}
  panoptes_endpoint: {{ env "MIMIR_ENDPOINT_PANOPTES" }}

remote: 
  label: {{ requiredEnv "CLUSTER_LABEL" }}
  secret: {{ requiredEnv "REMOTE_AUTH_SECRET" }}
  scope: {{ requiredEnv "REMOTE_AUTH_SCOPE" }}