logs:
  remoteEndpoint: {{ env "LOKI_ENDPOINT_PANOPTES" }}
  localGateway:

mimir:
  remoteEndpoint: {{ env "MIMIR_ENDPOINT_PANOPTES" }}

remote:
  endpoint: {{ env "ENDPOINT_PANOPTES" }}
  label: {{ requiredEnv "CLUSTER_LABEL" }}
  secret: {{ requiredEnv "REMOTE_AUTH_SECRET" }}
  scope: {{ requiredEnv "REMOTE_AUTH_SCOPE" }}