loki:
  localGateway: http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push

prometheus:
  localGateway: http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090/api/v1/otlp/