scrape:
  https: {{ default "false" (env "SCRAPE_HTTPS") }}

local:
  endpoint: {{ env "LOCAL_ENDPOINT" }}
  logsEndpoint: {{ default "http://loki-gateway.monitoring.svc.cluster.local/loki/api/v1/push" (env "LOCAL_LOGS_ENDPOINT") }}
  metricsEndpoint: {{ default "http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090/api/v1/otlp/" (env "LOCAL_METRICS_ENDPOINT") }}