scrape:
  https: {{ default "false" (env "SCRAPE_HTTPS") }}

local: 
  metricsEndpoint: {{ env "LOCAL_METRICS_ENDPOINT" }}
  logsEndpoint: {{ env "LOCAL_LOGS_ENDPOINT" }}

remote:
  endpoint: {{ env "REMOTE_ENDPOINT" }}
  metricsEndpoint: {{ env "METRICS_ENDPOINT" }}
  logsEndpoint: {{ env "LOGS_ENDPOINT" }}
  label: {{ requiredEnv "CLUSTER_LABEL" }}
  secret: {{ requiredEnv "REMOTE_AUTH_SECRET" }}
  scope: {{ env "REMOTE_AUTH_SCOPE" }}
  auth_type: {{ env "REMOTE_AUTH_TYPE" }}