logs:
  remoteEndpoint: {{ env "LOKI_ENDPOINT_PANOPTES" }}

prometheus:
  localGateway: http://prometheus-kube-prometheus-prometheus.monitoring.svc.cluster.local:9090/api/v1/otlp/

mimir:
  remoteEndpoint: {{ env "MIMIR_ENDPOINT_PANOPTES" }}

remote: 
  label: {{ requiredEnv "CLUSTER_LABEL" }}
  secret: {{ requiredEnv "REMOTE_AUTH_SECRET" }}
  scope: {{ requiredEnv "REMOTE_AUTH_SCOPE" }}