{{- /* Validate stateStorageClass exists (requires cluster access; skipped during templating) */ -}}
{{- if .Values.stateStorageClass }}
{{- $hasClusterAccess := (lookup "v1" "Node" "" "").items }}
{{- if $hasClusterAccess }}
{{- $sc := lookup "storage.k8s.io/v1" "StorageClass" "" .Values.stateStorageClass }}
{{- if empty $sc }}
{{- fail (printf "StorageClass '%s' (stateStorageClass) not found. Please ensure the StorageClass exists before deploying." .Values.stateStorageClass) }}
{{- end }}
{{- end }}
{{- end }}
apiVersion: ais.nvidia.com/v1beta1
kind: AIStore
metadata:
  name: {{ .Values.cluster }}
  namespace: {{ .Release.Namespace }}
spec:
  size: {{ .Values.size }}
  configToUpdate:
    {{- if eq .Values.protocol "https" }}
      {{- $userHTTP := (dig "net" "http" dict .Values.configToUpdate) }}
      {{- $httpsDefaults := dict
          "server_crt" "/var/certs/tls.crt"
          "server_key" "/var/certs/tls.key"
          "use_https" true
          "skip_verify" .Values.https.skipVerifyCert
          "client_ca_tls" "/var/certs/ca.crt"
          "client_auth_tls" 0
      }}
      {{- $mergedHTTP := merge $httpsDefaults $userHTTP }}
      {{- $userNet := (dig "net" dict .Values.configToUpdate) }}
      {{- $mergedNet := merge (dict "http" $mergedHTTP) $userNet }}
      {{- toYaml (merge (dict "net" $mergedNet) (omit .Values.configToUpdate "net")) | nindent 4 }}
    {{- else }}
      {{- with .Values.configToUpdate }}
      {{- toYaml . | nindent 4 }}
      {{- end }}
    {{- end }}
  proxySpec:
    annotations:
      {{- with .Values.proxySpec.annotations }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    labels:
      {{- with .Values.proxySpec.labels }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    tolerations:
      {{- with .Values.proxySpec.tolerations }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    env:
      {{- with .Values.proxySpec.env }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    {{- if .Values.proxySpec.size }}
    size: {{ .Values.proxySpec.size }}
    {{- end }}
    hostPort: {{ .Values.proxySpec.hostPort }}
    servicePort: {{ .Values.proxySpec.servicePort }}
    portPublic: {{ .Values.proxySpec.portPublic }}
    portIntraControl: {{ .Values.proxySpec.portIntraControl }}
    portIntraData: {{ .Values.proxySpec.portIntraData }}
    capabilities:
      privileged: true
    {{- if .Values.proxySpec.securityContext }}
    securityContext:
      {{- toYaml .Values.proxySpec.securityContext | nindent 6 }}
    {{- end }}
    nodeSelector:
      {{- if .Values.proxySpec.nodeSelector }}
        {{- toYaml .Values.proxySpec.nodeSelector | nindent 6 }}
      {{- else }}
        nvidia.com/ais-proxy: {{ .Values.cluster | quote }}
      {{- end }}
    {{- if .Values.proxySpec.resources }}
    resources:
      {{- toYaml .Values.proxySpec.resources | nindent 6 }}
    {{- end }}
  targetSpec:
    annotations:
      {{- with .Values.targetSpec.annotations }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    labels:
      {{- with .Values.targetSpec.labels }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    tolerations:
      {{- with .Values.targetSpec.tolerations }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    env:
      {{- with .Values.targetSpec.env }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    {{- if .Values.targetSpec.size }}
    size: {{ .Values.targetSpec.size }}
    {{- end }}
    hostPort: {{ .Values.targetSpec.hostPort }}
    servicePort: {{ .Values.targetSpec.servicePort }}
    portPublic: {{ .Values.targetSpec.portPublic }}
    portIntraControl: {{ .Values.targetSpec.portIntraControl }}
    portIntraData: {{ .Values.targetSpec.portIntraData }}
    {{- if hasKey .Values.targetSpec "hostNetwork" }}
    hostNetwork: {{ .Values.targetSpec.hostNetwork }}
    {{- end }}
    capabilities:
      privileged: true
    {{- if .Values.targetSpec.securityContext }}
    securityContext:
      {{- toYaml .Values.targetSpec.securityContext | nindent 6 }}
    {{- end }}
    nodeSelector:
      {{- if .Values.targetSpec.nodeSelector }}
        {{ toYaml .Values.targetSpec.nodeSelector | nindent 6 }}
      {{- else }}
          nvidia.com/ais-target: {{ .Values.cluster | quote }}
      {{- end }}
    mounts:
    {{- $mpath := .Values.mpathInfo }}
    {{- range $mpath.mounts }}
      - path: {{ .path }}
        size: {{ $mpath.size }}
        storageClass: {{ $mpath.storageClass }}
        {{- if .label }}
        label: {{ .label }}
        {{- end }}
        selector:
          matchLabels:
            mpath: pv-{{ .path | replace "/" "-" | trimPrefix "-" }}
    {{- end }}
    {{- if .Values.targetSpec.resources }}
    resources:
      {{- toYaml .Values.targetSpec.resources | nindent 6 }}
    {{- end }}
  {{- with .Values.imagePullSecrets }}
  imagePullSecrets:
  {{- toYaml . | nindent 2 }}
  {{- end }}
  nodeImage: "{{ .Values.nodeImage.name }}:{{ .Values.nodeImage.tag }}"
  initImage: "{{ .Values.initImage.name }}:{{ .Values.initImage.tag }}"
  {{- if hasKey .Values "logSidecarImage" }}
  {{- if and (hasKey .Values.logSidecarImage "name") (hasKey .Values.logSidecarImage "tag") }}
  logSidecarImage: "{{ .Values.logSidecarImage.name }}:{{ .Values.logSidecarImage.tag }}"
  {{- end }}
  {{- end }}
  hostpathPrefix: {{ .Values.hostpathPrefix }}
  stateStorageClass: {{ .Values.stateStorageClass }}
  apiMode: {{ .Values.apiMode }}
  shutdownCluster: {{ .Values.shutdownCluster }}
  cleanupMetadata: {{ .Values.cleanupMetadata }}
  cleanupData: {{ .Values.cleanupData }}
  {{- if eq .Values.protocol "https" }}
  tlsSecretName: {{ .Values.https.tlsSecret }}
  {{- end }}
  {{- if .Values.cloud }}
  awsSecretName: {{ .Values.cloud.awsSecretName }}
  gcpSecretName: {{ .Values.cloud.gcpSecretName }}
  ociSecretName: {{ .Values.cloud.ociSecretName }}
  {{- end }}
  authNSecretName: {{ .Values.authNSecretName }}
  {{- if .Values.auth }}
  auth:
    {{- toYaml .Values.auth | nindent 4 }}
  {{- end }}
  enableExternalLB: {{ .Values.enableExternalLB }}
  publicNetDNSMode: {{ .Values.publicNetDNSMode }}
  {{- if .Values.multihome }}
  {{- with .Values.multihome.hostnameMap }}
  hostnameMap: {{ toJson . }}
  {{- end }}
  {{- if .Values.multihome.networkAttachment }}
  networkAttachment: "{{ .Values.multihome.networkAttachment }}"
  {{- end }}
  {{- end }}
  logsDir: {{ .Values.logsDir }}
  clusterDomain: {{ .Values.clusterDomain }}
  {{- with .Values.adminClient }}
  adminClient:
    {{- toYaml . | nindent 4 }}
  {{- end }}