init_image: aistorage/ais-init:v4.2
node_image: aistorage/aisnode:v4.2
logs_image: aistorage/ais-logs:v1.1

# Cloud
gcp_secret_name: ""
aws_secret_name: ""
oci_secret_name: ""

# AuthN JWT Signing Key Secret
authn_secret_name: ""

# Extra sysctl config to apply to pods -- change apply_sysctls to true to apply
apply_sysctls: false
tcp_tw_reuse: 1
tcp_max_tw_buckets: 1440000
ip_local_port_range: 2048 65535
somaxconn: 65535

# cluster domain name for DNS
cluster_domain: "cluster.local"

# logs directory
logs_dir: "/var/log/ais"

# unequal num of proxy and target
# Note: 0 < proxy_size, target_size <= cluster_size
# proxy_size: 1
# target_size: 3

# if true, the AIS Daemon pods for target are created in the host's network namespace (used for multihoming)
host_network: false

# Allows the AIS deployment outside kubernetes cluster via target load balancers
# NOTE: For external access to work, the kubernetes cluster should have the capability to create LoadBalancer services with valid external IP.
# For local testing, use `minikube tunnel` or `cloud-provider-kind`
enable_external_lb: false

# Storage class for dynamically provisioning state volumes
# See docs/state_storage.md
# If set to local-path, Rancher local-path-provisioner will be installed
# If not set, AIS will use /etc/ais/ on the host
dynamic_state_sc: "local-path"

# Node tolerations
node_tolerations:
  # Avoid eviction in case of host node disk pressure
  - effect: NoExecute
    key: node.kubernetes.io/disk-pressure
    operator: Exists