apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ cert_name }}
  namespace: {{ cluster }}
spec:
  secretName: {{ tls_secret }}
  isCA: false
  duration: 8760h  # 1 year
  renewBefore: 720h  # 30 days
  dnsNames:
{% for dns_name in dns_names %}
    - "{{ dns_name }}"
{% endfor %}
  ipAddresses:
{% for ip_addr in ip_addresses %}
    - {{ ip_addr }}
{% endfor %}
  issuerRef:
    name: {{ issuer_name }}