apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../default

patches:
  - path: manager_annotations_patch.yaml
  - path: manager_ca_configmap_patch.yaml
  - path: manager_authn_ca_configmap_patch.yaml