#
# Performs mkfs of AIS target filesystems, adds the filesystems to /etc/fstab, and mounts them.
# To protect devices, we do not include default values for ais_hosts and ais_devices
# See docs/ais_datafs.md for explanation and example usage
#
---
- name: Create filesystems and mount for AIS data
  hosts: "{{ ais_hosts }}"
  gather_facts: true
  become: true
  vars_files:
    - "vars/ais_datafs.yml"

  pre_tasks:
    - name: Validate devices
      include_role:
        name: validate_devices
      vars:
        check_mounts: True
        prompt_for_format: True

  roles:
    - role: datafs_umount
      vars: 
        purge_fstab: true
    - role: datafs_mount
      vars:
        ais_mkfs: true
