#
# Mount the set of ais_devices on the set of hosts ais_hosts. 
# Adds the resulting mounts to fstab.
# Assumes the filesystems have already been created.
#
---
- hosts: "{{ ais_hosts }}"
  gather_facts: true
  become: true
  vars_files:
    - "vars/ais_datafs.yml"

  pre_tasks:
    - name: Validate devices
      include_role:
        name: validate_devices

  roles:
    - role: datafs_mount

