#
# Unmount the set of ais_devices on the set of hosts ais_hosts.
# Do not remove their fstab entries
#
---
- hosts: "{{ ais_hosts }}"
  gather_facts: true
  become: true
  vars_files:
    - "vars/ais_datafs.yml"

  pre_tasks:
    - name: Validate devices
      include_role:
        name: validate_devices
      vars:
        check_mounts: true

  roles:
    - role: datafs_umount
