#
# Performs mkfs of AIS target filesystems, adds the filesystems to /etc/fstab, and mounts them.
# To protect devices, we do not include default values for ais_hosts and ais_devices
# See docs/ais_datafs.md for explanation and example usage
#
---
- name: Confirm and proceed with filesystem creation
  hosts: "{{ ais_hosts }}"
  gather_facts: true
  become: true
  vars_files:
    - "vars/ais_datafs.yml"

  pre_tasks:
    - name: Validate devices
      include_role:
        name: validate_devices
      vars:
        check_mounts: True
        prompt_for_format: True

  roles:
    - role: ais_datafs
      vars:
        ais_fs_umount_purge: true
        ais_fs_losedata: "danger_danger"
        ais_fs_mount: true
