prometheus.relabel "redirect" {
  forward_to = [prometheus.remote_write.ngc.receiver]
}

prometheus.relabel "node_exporter" {
  forward_to = [prometheus.remote_write.ngc.receiver]
  rule {
    action = "replace"
    target_label = "job"
    replacement = "node-exporter"
  }
}

prometheus.scrape "kube_state_metrics" {
  targets = discovery.relabel.ksm.output
  forward_to = [prometheus.remote_write.ngc.receiver]
  scrape_interval = "10s"
}