aws_config: |-
{{ readFile (printf "%s/.aws/sjc11/config" (env "HOME")) | indent 2 }}

aws_credentials: |-
{{ readFile (printf "%s/.aws/sjc11/credentials" (env "HOME")) | indent 2 }}

gcp_json: |-
{{ readFile (printf "%s/.gcp/sjc11/gcp.json" (env "HOME")) | indent 2 }}