{{ ansible_managed | comment }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: selfsigned-cert
  namespace: {{ cluster }}
spec:
  secretName: {{ ca_cert_secret }}
  isCA: true
  commonName: selfsigned-ca
  duration: 8760h # 1 year
  renewBefore: 720h  # 30 days
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 4096
  subject:
    organizations:
      - NVIDIA
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: ca-issuer
  namespace: {{ cluster }}
spec:
  ca:
    secretName: {{ ca_cert_secret }}