# See defaults
# https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml

affinity: 
  nodeLabelKey: monitoring
  nodeLabelValue: "true"

slack:
  webhook: {{ requiredEnv "ALERTMANAGER_SLACK_WEBHOOK" }}
  channel: {{ requiredEnv "ALERTMANAGER_SLACK_CHANNEL" }}