tls: 
  enabled: true
  certPath: "/var/certs/tls.crt"
  keyPath: "/var/certs/tls.key"
  certificate:
    duration: 8760h # 1 year
    renewBefore: 720h # 30 days
    subject:
      organizations:
        - NVIDIA Corporation
      organizationalUnits:
        - NGC Storage
      countries:
        - US
    emailAddress: aistore@nvidia.com
    issuerRef:
      name: ca-issuer
      kind: ClusterIssuer

lb:
  enabled: true
  port: 52001