[
{
  name: "net.core.somaxconn",
  value: "{{ somaxconn }}"
},
{
  name: "net.ipv4.ip_local_port_range",
  value: "{{ ip_local_port_range }}"
},
{
  name: "net.ipv4.tcp_tw_reuse",
  value: "{{ tcp_tw_reuse }}"
},
{
  name: "net.ipv4.tcp_max_tw_buckets",
  value: "{{ tcp_max_tw_buckets }}"
}
]