{{- $tmpl := file.Read (getenv "AIS_TARGET_TEMPLATE") -}}
{{- $snippet := file.Read (getenv "AIS_SNIPPET") -}}
{{- strings.ReplaceAll "{{- toYaml .Values.controllerManager.manager.args | nindent 8 }}" $snippet $tmpl -}}