apiVersion: v1
kind: Service
metadata:
  name: ais-authn
  namespace: {{ cluster }}
spec:
  clusterIP: None
  selector:
    app: authn
  ports:
  - protocol: TCP
    port: {{ authn_port }}
    targetPort: {{ authn_port }}
