---
# AuthN PV for storing AuthN configuration and user data
apiVersion: v1
kind: PersistentVolume
metadata:
  name: authn-pv
  namespace: {{ cluster }}
spec:
  capacity:
    storage: 50Mi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /etc/ais/authn
  persistentVolumeReclaimPolicy: Retain
---
# AuthN PVC for storing AuthN configuration and user data
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: authn-pvc
  namespace: {{ cluster }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Mi
