environments: 
  default:
    values:
    - envFile: default
    - createCert:
        enabled: false
        valuesPath: ./config/tls-cert/default.yaml
  keycloak: 
    values: 
    - envFile: keycloak
    - createCert:
        enabled: false
        valuesPath: ./config/tls-cert/keycloak.yaml
  oci-iad: 
    values:
    - envFile: default
    - createCert:
        enabled: false
  oci-ord: 
    values:
    - envFile: default
    - createCert:
        enabled: false
  sjc4-1000:
    values:
      - envFile: default
      - createCert:
          enabled: true
          valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/operator/config/tls-cert/sjc4-1000.yaml?ref=main"
  sjc11:
    values: 
    - envFile: default
    - createCert:
        enabled: true
        valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/operator/config/tls-cert/sjc11.yaml?ref=main"
  sjc4-dev:
    values:
    - envFile: default
    - createCert:
        enabled: true
        valuesPath: "git::ssh://git@gitlab-master.nvidia.com/aistorage/ais-infra.git@helm/operator/config/tls-cert/sjc4-dev.yaml?ref=main"

---
repositories:
  - name: aistore
    url: https://nvidia.github.io/ais-k8s/charts/

---
hooks:
  - events: ["prepare"]
    showlogs: true
    command: bash
    args:
      - ../confirm.sh
      - "{{ .Environment.Name }}"

releases:    
  - name: operator-tls-cert
    namespace: ais-operator-system
    createNamespace: true
    chart: tls-cert
    condition: createCert.enabled
    version: 0.1.0
    values:
      - "{{ .Environment.Values.createCert | get \"valuesPath\" \"\" }}"

  - name: ais-operator
    namespace: ais-operator-system
    createNamespace: true
    chart: aistore/ais-operator
    version: 2.12.2
    values:
      - "./config/operator/{{ .Values.envFile }}.yaml.gotmpl"
    hooks:
      - events: ["presync"]
        showlogs: true
        command: bash
        args: ["./check_cert_manager.sh"]
