- name: umount
  mount:
    src: "/dev/{{ item }}"
    path: "{{ mpath_prefix }}/{{ item }}"
    state: unmounted
    fstype: "{{ fstype }}"
    opts: "{{ ais_fs_mount_options }}"
  with_items:
    - "{{ ais_devices }}"
  when:
    - ais_fs_umount | default(false)

- name: umount and remove from fstab
  mount:
    src: "/dev/{{ item }}"
    path: "{{ mpath_prefix }}/{{ item }}"
    state: absent
    fstype: "{{ fstype }}"
    opts: "{{ ais_fs_mount_options }}"
  with_items:
    - "{{ ais_devices }}"
  when:
    - ais_fs_umount_purge | default(false)

- name: mkfs
  filesystem:
    dev: "/dev/{{ item }}"
    force: yes
    fstype: "{{ fstype }}"
    opts:
  with_items:
    - "{{ ais_devices }}"
  when:
    - ais_fs_losedata is defined
    - ais_fs_losedata == 'danger_danger'

- name: mount and populate fstab
  mount:
    src: "/dev/{{ item }}"
    path: "{{ mpath_prefix }}/{{ item }}"
    state: mounted
    fstype: "{{ fstype }}"
    opts: "{{ ais_fs_mount_options }}"
  with_items:
    - "{{ ais_devices }}"
  when:
    - ais_fs_mount | default(false)

- name: chown and chmod ais dir
  file:
    path: "{{ mpath_prefix }}/{{ item }}"
    state: directory
    mode: 0750
    owner: root
  with_items:
    - "{{ ais_devices }}"
  when:
    - ais_fs_mount | default(false)
