apiVersion: ais.nvidia.com/v1beta1
kind: AIStore
metadata:
  name: aistore-sample
spec:
  # Add fields here
  size: 1
  proxySpec:
    servicePort: 51080
    hostPort: 51080
    portPublic: 51080
    portIntraControl: 51082
    portIntraData: 51083

  targetSpec:
    servicePort: 51081
    hostPort: 51081
    portPublic: 51081
    portIntraControl: 51082
    portIntraData: 51083

    mounts:
      - path: "/ais1"
        size: 10Gi
        # Optional: Use label to specify a disk to use for mounting or to specify a shared or "disk-less" mount such as NFS storage
        label: "disk1"
      - path: "/ais2"
        size: 10Gi
        # Tells AIS to allow disk sharing between these mountpaths
        label: "disk1"

  nodeImage: "aistorage/aisnode:v3.25"
  initImage: "aistorage/ais-init:v3.25"
  hostpathPrefix: "/etc/ais"
  logsDir: "/var/log/ais"

  # To be able to access the AIS deployment outside kubernetes cluster, set:
  # enableExternalLB: true
  # NOTE: For external access to work, the kubernetes cluster should have the capabilitly to create LoadBalancer services with valid external IP.
  # For local testing with `minikube` run `minikube tunnel` in background for emulation. ref: https://minikube.sigs.k8s.io/docs/commands/tunnel/
  enableExternalLB: false
