{{ ansible_managed | comment }}
---
apiVersion: ais.nvidia.com/v1beta1
kind: AIStore
metadata:
  name: ais
  namespace: {{ cluster }}
spec:
  # Add fields here
  size: {{ cluster_size }}
  configToUpdate:
    mirror:
      enabled: false
    rebalance:
      enabled: true
      bundle_multiplier: 2
    resilver:
      enabled: true
{% if protocol == "https" %}
    net:
      http:
        server_crt: "/var/certs/tls.crt"
        server_key: "/var/certs/tls.key"
        use_https: true
        skip_verify: {{ skip_verify_cert }} # if you are using self signed certs
{% endif %}

  enablePromExporter: false
  proxySpec:
    hostPort: 51080
    servicePort: 51080
    portPublic: 51080
    portIntraControl: 51081
    portIntraData: 51082
    capabilities:
      privileged: true

    nodeSelector:
      nvidia.com/ais-proxy: {{ cluster }}
  targetSpec:
    hostPort: 51081
    servicePort: 51081
    portPublic: 51081
    portIntraControl: 51082
    portIntraData: 51083
    capabilities:
      privileged: true

    nodeSelector:
      nvidia.com/ais-target: {{ cluster }}
    mounts:
{% for mpath in ais_mpaths %}
      - path: {{ mpath }}
        size: {{ ais_mpath_size }}
        storageClass: "ais-local-storage"
        selector:
          matchLabels:
            mpath: "pv{{ mpath | replace('/','-') }}"
{% endfor %}

  nodeImage: "{{ node_image }}"
  initImage: "aistorage/ais-init:latest"
  hostpathPrefix: "/etc/ais"
{% if protocol == "https" %}
  tlsSecretName: {{ tls_secret }}
{% endif %}
  
{% if aws_secret_name != "" %}
  awsSecretName: "{{ aws_secret_name }}"
{% endif %}
{% if gcp_secret_name != "" %}
  gcpSecretName: {{ gcp_secret_name }}
{% endif %}

  # To be able to access the AIS deployment outside kubernetes cluster, set:
  # enableExternalLB: true
  # NOTE: For external access to work, the kubernetes cluster should have the capabilitly to create LoadBalancer services with valid external IP.
  # For local testing with `minikube` run `minikube tunnel` in background for emulation. ref: https://minikube.sigs.k8s.io/docs/commands/tunnel/
  enableExternalLB: false

  clusterDomain: "cluster.local"