aiofiles==25.1.0
anyio==4.13.0
async-property==0.2.2
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
deprecation==2.1.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
jwcrypto==1.5.7
packaging==26.2
pycparser==3.0
python-keycloak==5.8.1
requests==2.33.1
requests-toolbelt==1.0.0
typing_extensions==4.15.0
urllib3==2.6.3
