controllerManager:
  manager:
    env:
      operatorSkipVerifyCrt: "false"
    # In Operator namespace
    authCAConfigmapName: aistore.nvidia.com 
    # In AIS namespace
    aisCAConfigmapName: aistore.nvidia.com
    