controllerManager:
  manager:
    env:
      operatorSkipVerifyCrt: "false"
    # Trust bundle for requests to Auth services
    authCAConfigmapName: aistore.nvidia.com
    # Trust bundle for requests to AIS API
    aisCAConfigmapName: aistore.nvidia.com
    