- name: Run mkfs for all ais_devices
  filesystem:
    dev: "/dev/{{ item }}"
    force: yes
    fstype: "{{ fstype }}"
  with_items:
    - "{{ ais_devices }}"
  when:
    - ais_mkfs | default(false) | bool
    
- name: Get UUID for filesystems
  shell: blkid -s UUID -o value "/dev/{{ item }}"
  register: device_uuids
  loop: "{{ ais_devices }}"
  failed_when: false
  changed_when: false

- name: Create device to UUID mapping
  set_fact:
    device_uuid_map: "{{ device_uuid_map | default({}) | combine({item.item: item.stdout}) }}"
  loop: "{{ device_uuids.results | default([]) }}"
  when:
    - device_uuids is defined
    - device_uuids.results is defined
    - item.stdout is defined
    - item.stdout | length > 0

- name: Mount and populate fstab using UUID
  ansible.posix.mount:
    src: "UUID={{ device_uuid_map[item] }}"
    path: "{{ mpath_prefix }}/{{ item }}"
    state: mounted
    fstype: "{{ fstype }}"
    opts: "{{ ais_fs_mount_options }}"
  with_items:
    - "{{ ais_devices }}"
  when:
    - device_uuid_map is defined
    - device_uuid_map[item] is defined

- name: Run chown and chmod on all new mountpaths
  file:
    path: "{{ mpath_prefix }}/{{ item }}"
    state: directory
    mode: 0750
    owner: root
  with_items:
    - "{{ ais_devices }}"
