apiVersion: batch/v1
kind: Job
metadata:
  name: operator-test
  namespace: default
spec:
  ttlSecondsAfterFinished: 0
  backoffLimit: 0
  template:
    spec:
      containers:
      - name: local-test-runner
        image: localhost:5000/operator-test:latest
        imagePullPolicy: Always
        env:
          - name: TEST_TYPE
            value: "${TEST_TYPE}"
      restartPolicy: Never
      nodeSelector:
        kubernetes.io/hostname: minikube