name: Docker Image -- Operator

on:
  push:
    branches:
      - main
    paths:
      - 'operator/api/**'
      - 'operator/cmd/**'
      - 'operator/pkg/**'
      - 'operator/Dockerfile'
      - 'operator/go.mod'
      - 'operator/go.sum'
      - 'operator/Makefile'
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Operator image tag'
        required: true
        type: string
env:
  AISOPERATOR_IMAGE: 'aistorage/ais-operator'
  IMAGE_TAG: ${{ github.event_name == 'push' && 'dev' || inputs.image_tag }}

jobs:
  docker:
    runs-on: ubuntu-22.04
    steps:

    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: '1.22.x'
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push 'aistorage/ais-operator' image
      run: |
        pushd $GITHUB_WORKSPACE/operator
        IMG="${{ env.AISOPERATOR_IMAGE }}:${{ env.IMAGE_TAG }}" make docker-build docker-push
        popd