# Builds and pushes the ais-deploy-helper image, containing scripts and templates to prepare systems for ais deployment
name: Docker Image -- AIS Operator Helper

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'AIS Operator Helper image tag'
        required: true
        default: 'latest'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push 'aistorage/ais-operator-helper'
      run: |
        pushd $GITHUB_WORKSPACE/ais-operator-helper
        TAG="${{ inputs.image_tag }}" make all
        popd
