name: Docker Image -- Operator

on:
  push:
    branches:
      - main
    paths:
      - 'operator/api/**'
      - 'operator/cmd/**'
      - 'operator/pkg/**'
      - 'operator/Dockerfile'
      - 'operator/go.mod'
      - 'operator/go.sum'
      - 'operator/Makefile'
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Operator image tag'
        required: true
        type: string
env:
  IMAGE_REPO: 'aistorage/ais-operator'
  IMAGE_TAG: ${{ github.event_name == 'push' && 'dev' || inputs.image_tag }}

jobs:
  docker:
    runs-on: ubuntu-24.04
    steps:

    - uses: actions/checkout@v6
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push 'aistorage/ais-operator' image
      run: |
        pushd $GITHUB_WORKSPACE/operator
        IMG="${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }}" make docker-buildx-push
        popd