name: Publish ais-k8s release 

on:
  push:
    tags:
      - 'v*'

env:
  AISOPERATOR_IMAGE: 'aistorage/ais-operator'
  VERSION: ${{ github.ref_name }}

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6

    - uses: actions/setup-go@v6
      with:
        go-version: '1.25.x'

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Make aisoperator image
      run: |
        pushd $GITHUB_WORKSPACE/operator
        IMG="${{ env.AISOPERATOR_IMAGE }}:${{ env.VERSION }}" EXTRA_TAGS="${{ env.AISOPERATOR_IMAGE }}:latest" \
          make docker-buildx-push
        IMG="${{ env.AISOPERATOR_IMAGE }}:latest" make docker-buildx-push
        popd

    - name: Make operator manifest
      run: |
        pushd $GITHUB_WORKSPACE/operator
        VERSION="${{ env.VERSION }}" IMG="${{ env.AISOPERATOR_IMAGE }}:${{ env.VERSION }}" make build-installer
        popd

    - name: Make helm chart
      run: |
        pushd $GITHUB_WORKSPACE/operator
        VERSION="${{ env.VERSION }}" IMG="${{ env.AISOPERATOR_IMAGE }}:${{ env.VERSION }}" make package-chart
        popd

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: operator/dist/*
        prerelease: true
