- name: Clean up old AIS sysctl config
  block:
    - name: Find previous sysctl files matching *-ais-*.conf
      find:
        paths: "{{ rm_sysctl_dropin_dir }}"
        patterns: '*-ais-*.conf'
      register: ais_sysctl_conf_files

    - name: Remove previous sysctl files matching *-ais-*.conf
      file:
        path: "{{ rm_sysctl_dropin_dir }}/{{ item.path }}"
        state: absent
      loop: "{{ ais_sysctl_conf_files.files }}"
      when: ais_sysctl_conf_files.matched > 0
  tags: [ sysctlrequired, sysctlnet, sysctlvm ]

- name: Adding required tweaks to {{ sysctl_dropin_dir }}/{{ required_sysctl_file }}
  tags: [ sysctlrequired ]
  sysctl:
    sysctl_file: "{{ sysctl_dropin_dir }}/{{ required_sysctl_file }}"
    reload: yes
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: "{{ item.state }}"
  with_items:
    - "{{ ais_host_sysctl_required }}"

- name: Adding optional network tweaks to {{ sysctl_dropin_dir }}/{{ network_sysctl_file }}
  tags: [ sysctlnet ]
  sysctl:
    sysctl_file: "{{ sysctl_dropin_dir }}/{{ network_sysctl_file }}"
    reload: yes
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: "{{ item.state }}"
  with_items:
    - "{{ ais_host_sysctl_net }}"

- name: Adding optional vm tweaks to {{ sysctl_dropin_dir }}/{{ vm_sysctl_file }}
  tags: [ sysctlvm ]
  sysctl:
    sysctl_file: "{{ sysctl_dropin_dir }}/{{ vm_sysctl_file }}"
    reload: yes
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: "{{ item.state }}"
  with_items:
    - "{{ ais_host_sysctl_vm }}"