cluster: ais
mpathInfo:
  storageClass: "ais-local-storage"
  size: 9.1Ti
  mounts:
    - path: "/ais/sda"
    - path: "/ais/sdb"
    - path: "/ais/sdc"
    - path: "/ais/sdd"
    - path: "/ais/sde"
    - path: "/ais/sdf"
    - path: "/ais/sdg"
    - path: "/ais/sdh"
    - path: "/ais/sdi"
    - path: "/ais/sdj"
size: 3
protocol: https
https:
  skipVerifyCert: false
  tlsSecret: "tls-certs"
authNSecretName: ais-authn-jwt-signing-key
nodeImage:
  tag: latest
initImage:
  tag: latest
logSidecarImage:
  tag: v1.1
configToUpdate:
  memsys: 
    hk_time: 3m
  backend:
    aws: {}
  net:
    http:
      idle_conn_time: 20s
      idle_conns: 2048
      idle_conns_per_host: 128
stateStorageClass: "local-path"